.container {
    margin-top: 140px;
}


.content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.content h1 {
    margin: auto;
    line-height: 1.3;
    color: #0b73cd;
}


p {
    text-align: center;
    font-size: 64px;
}