<div class="container">
    <div class="content">
      <h1>{{ titulo }}</h1>
      <h1>{{ descricao }}</h1>
      <h1>{{ dataEvento }}</h1>
    </div>
    
    <section id="inspiracao">
      <app-inspiracao></app-inspiracao>
    </section>
    
    <section id="parceiros">
      <app-parceiros></app-parceiros>
    </section>
    
    <section id="programacao">
      <app-programacao></app-programacao>
    </section>
    
    <section id="gifts">
      <app-gifts></app-gifts>
    </section>
  </div>