<div class="container">
    <div class="content">
        <h1>INSPIRAÇÃO</h1>
        <h2>
            ONDE IDEIAS GANHAM ASAS
        </h2>
    
        <p>De estações móveis que transformam luz em vida até aplicativos
            que conectam corações em zonas de desastre, o futuro já
            está sendo desenhado por mentes corajosas. Explore projetos
            reais onde imagens de satélite revelam não apenas destruição,
            mas caminhos para renascimento.
        </p>

        <p>
            Imagine estruturas impressas em 3D erguendo abrigos como
            símbolos de resistência. Ou comunidades treinadas em realidade
            virtual para enfrentar furacões com confiança. Cada linha
            de código, cada algoritmo é uma semente plantada para
            um planeta mais forte.
        </p>

        <p>
            Reúna sua equipe de inovadores. Nos laboratórios da FIAP, ideias
            ganham forma através de mentoria especializada e tecnologia
            de ponta. Ao final, apresente sua criação a especialistas que já
            moldaram o futuro e veja seu projeto brilhar em um palco global.
        </p>
    </div>
</div>